<div class="product-main-container w-10/12 mb-5 mobile:w-full flex flex-row mobile:flex-col gap-32 mobile:gap-0
    justify-center items-start mobile:items-center">
    <div onselectstart="return false" class="relative product-left-container max-w-2xl w-1/2 grid grid-cols-4
        gap-6 mobile:w-full mobile:max-w-none">
        <!-- <ng-container *ngIf="activeState$ | async as index;">
            <img id="imageElement" class="w-full col-span-4 rounded-xl mobile:rounded-none" [src]="images[index]"
                (click)="handleImageClick($event)">
        </ng-container>
        <ng-container *ngIf="!(activeState$ | async)">
            <img id="imageElement" class="w-full col-span-4 rounded-xl mobile:rounded-none" [src]="images[0]"
                (click)="handleImageClick($event)">
        </ng-container> -->

        <img id="imageElement" class="w-full col-span-4 rounded-xl mobile:rounded-none" [src]="images[activeState]"
            (click)="handleImageClick($event)">

        <svg class="absolute hidden mobile:block top-[50%] translate-y-[-50%] left-4 bg-White hover:stroke-Orange
            rounded-[40px] h-10 w-10 " stroke="#69707D" width="12" height="18" xmlns="http://www.w3.org/2000/svg"
            (click)="slidePreviousActiveImage()">
            <path transform="translate(10 10)" class="hover:stroke-Orange" d="M11 1 3 9l8 8" stroke-width="3"
                fill="none" fill-rule="evenodd" />
        </svg>
        <svg class="absolute hidden mobile:block top-[50%] right-4 translate-y-[-50%] bg-White hover:stroke-Orange 
            rounded-[40px] h-10 w-10 " stroke="#69707D" width="12" height="18" xmlns="http://www.w3.org/2000/svg"
            (click)="slideNextActiveImage()">
            <path transform="translate(15 10)" class="hover:stroke-Orange" d="m2 1 8 8-8 8" stroke-width="3" fill="none"
                fill-rule="evenodd" />
        </svg>

        <div class="thumbnail relative mobile:hidden" *ngFor="let image of thimages; let i = index"
            (mousedown)="setActiveImage(i)">
            <div onselectstart="return false" class="activethumbnail absolute 
            w-full h-full bg-[hsla(0,0%,100%,0.7)] rounded-xl z-10 transition-opacity
            duration-300 ease-in-out hover:opacity-75 hover:cursor-pointer" [class.opacity-100]="(activeState)===i"
                [class.border-[3px]]="(activeState)===i" [class.border-Orange]="(activeState)===i"
                [class.opacity-0]="(activeState)!==i">
            </div>
            <img onselectstart="return false" class="rounded-xl" [src]="thimages[i]" alt="">
        </div>

    </div>
    <div class="product-right-container max-w-lg w-1/2 mt-20 mobile:m-0 mobile:p-8 mobile:max-w-none mobile:w-full">
        <h2 class="text-Orange uppercase font-kumbh font-semibold 
            text-xs">
            Sneaker Company
        </h2>
        <h1 class="font-kumbh font-bold text-4xl mt-5 mb-10">
            {{ product.productName}}
        </h1>
        <p class="text-Darkgrayishblue font-kumbh font-normal">
            {{ product.productDescription}}
        </p>
        <div class="price mobile:w-full mt-5 grid gap-4 grid-cols-[repeat(2,min-content)]
         items-center mobile:grid-cols-[repeat(3,min-content)]">
            <h3 class="font-kumbh font-bold text-2xl w-min">
                ${{product.productPrice | number: '1.2-2'}}
            </h3>
            <div class="bg-Paleorange text-Orange rounded-md pr-2 pl-2 font-kumbh font-bold text-center">
                50%
            </div>
            <s class="text-Grayishblue font-kumbh font-semibold mobile:ml-auto">$250.00</s>

        </div>
        <div class="product-actions mt-10 h-14 flex flex-row mobile:flex-col mobile:h-32 justify-between 
        items-center gap-5">
            <div class="product-quantity grid grid-cols-3 h-[95%] rounded-xl 
            overflow-hidden w-1/3 mobile:w-full">
                <button class="quantity-decsease bg-Lightgrayishblue 
                flex justify-center items-center" (click)="quantitydecrement()">
                    <img src="assets/images/icon-minus.svg" alt="">
                </button>
                <div class="quantity-number bg-Lightgrayishblue flex 
                justify-center items-center font-kumbh font-bold">
                    {{ count$ | async}}
                </div>
                <button class="quantity-increase bg-Lightgrayishblue 
                flex justify-center items-center" (click)="quantityIncrement()">
                    <img src="assets/images/icon-plus.svg" alt="">
                </button>
            </div>
            <button #btn class="button-add h-full text-white font-semibold bg-Orange font-kumbh
             w-2/3 flex flex-row items-center justify-center gap-4 rounded-xl
             shadow-[hsl(26,100%,85%)] shadow-xl mobile:w-full" (click)="addToCart()">
                <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z"
                        fill="#FFFFFF" fill-rule="nonzero" />
                </svg>
                Add to cart
            </button>

        </div>

    </div>

</div>
<div class="lighbox">
    <app-productgallery *ngIf="imageclicked" (lightboxToggle)="lightboxtoggle()" class="fixed h-[100vh] w-full top-0 right-0
    flex justify-center items-center shadow-darkfill z-20">

    </app-productgallery>

</div>