<div class="main-itemincart-container grid grid-cols-9 justify-between 
items-center gap-3 ">
    <img [src]="item.image" alt="" 
    class="items-th w-full col-span-2">
    <div class="iteminfo font-kumbh col-span-6">
        <p class="text-Darkgrayishblue">{{item.name}}</p>
        <p class="text-Darkgrayishblue after:">${{item.price | number: '1.2-2'}} 
            x {{item.quantity}} 
            <span *ngIf="item.quantity>1" class="text-black font-bold">
                ${{item.quantity * item.price | number: '1.2-2'}}
            </span>
        </p>
    </div>
    <img class="delete-item" (click)="deleteItem()" src="/assets/images/icon-delete.svg" alt="">
</div>