/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
     
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      .no-scrollbar {
          -ms-overflow-style: none;  
          scrollbar-width: none;
    }
  }
}

@layer utilities {
  .custom-link {
    @apply text-center font-kumbh font-bold text-black hover:text-Orange;
  }
}

li:hover a::after {
  z-index: 20;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(255, 98, 0);
}
