<div class="main-container w-10/12 h-28  flex flex-row justify-center items-center">
    <div class="left-container h-full overflow-hidden flex flex-row items-center  mr-auto">
        <img class="hidden mobile:block mr-5 w-5" src="assets/images/icon-menu.svg" alt=""
        (click)="togglemobilemenu()">
        <img class="max-w-[192px] mr-14" src="assets/images/logo.svg" alt="sneakers-logo">
        <nav class="w-full h-full bg-White flex justify-center items-center mobile:hidden">
          <ul class="w-full flex  h-full flex-row mobile:flex-col justify-center items-center gap-9 ">
            <li class="relative h-full flex justify-center items-center"><a class="text-center font-kumbh text-Darkgrayishblue" routerLink="/collections">Collections</a></li>
            <li class="relative h-full flex justify-center items-center"><a class="text-center font-kumbh text-Darkgrayishblue" routerLink="/men">Men</a></li>
            <li class="relative h-full flex justify-center items-center"><a class="text-center font-kumbh text-Darkgrayishblue" routerLink="/women">Women</a></li>
            <li class="relative h-full flex justify-center items-center"><a class="text-center font-kumbh text-Darkgrayishblue" routerLink="/about">About</a></li>
            <li class="relative h-full flex justify-center items-center"><a class="text-center font-kumbh text-Darkgrayishblue" routerLink="/contact">Contact</a></li>
          </ul>
        </nav>
        <nav class="hidden w-full bg-White mobile:shadow-navdarkfill mobile:top-0 mobile:left-0
         mobile:h-screen mobile:w-[40vw] mobile:min-w-[150px] mobile:fixed
         mobile:flex justify-center items-center z-20"
         [hidden]="togglemobilenavbar" [@fadeInOut]="togglemobilenavbar ? 'void' : '*'" [@slideleft2right]="togglemobilenavbar ? 'void' : '*'">
         <img class="hidden mobile:block mobile:absolute top-10 left-10 " src="assets/images/icon-close.svg" alt=""
         (click)="togglemobilemenu()">
            <ul class="w-full flex flex-row mobile:flex-col justify-start items-center gap-9 ">
              <li><a class="custom-link" routerLink="/collections">Collections</a></li>
              <li><a class="custom-link" routerLink="/men">Men</a></li>
              <li><a class="custom-link" routerLink="/women">Women</a></li>
              <li><a class="custom-link" routerLink="/about">About</a></li>
              <li><a class="custom-link" routerLink="/contact">Contact</a></li>
            </ul>
          </nav>

    </div>
    <div class="relative right-container ml-auto flex flex-row justify-end items-center">
      <div class="relative">
        <img src="assets/images/icon-cart.svg" alt=""
        (click)="carttoggle()" class="min-w-[24px]">
        <p *ngIf="!(isEmpty$ | async)" class="cart-n-items rounded-xl w-4 h-3 absolute right-[-4px] top-[-4px] text-xs 
        bg-Orange text-White flex justify-center items-center
        font-semibold font-kumbh">
        {{ nItems$ | async}}
        </p>
      </div>
      <img class="w-16 ml-14 mobile:ml-6 hover:border-Orange hover:border-[3px] rounded-[50%]" src="assets/images/image-avatar.png" alt="">
      <app-shoppingcart [hidden]="(cartToggle$ | async)" [@fadeInOut]="(cartToggle$ | async) ? 'void' : '*'" 
      class=" shadow-xl z-10 absolute top-[72px] w-[300%] right-0 mobile:top-[110px]">

      </app-shoppingcart>
    </div>
</div>
<hr class="w-10/12 z-0">
